{% extends 'hobbyapp/base.html' %}

{% block content %}
{% csrf_token %}
    <div id="app">
        <h1>Friends</h1>
        

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Friends
                </tr>
            </thead>
            <tbody>
                <tr v-for="(friend) in friends">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>
                            [[ friend ]]          
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Friend Requests</th>
        
                </tr>
            </thead>
            <tbody>
                <tr v-for="(request) in friendRequests">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>[[ request.name ]]</td>
                    <td><a class="btn btn-primary" @click="addFriend(request.ID)" role="button"> Accept</a></td>
                    <td><a class="btn btn-danger" @click="delFriend(request.ID)" role="button"> Reject</a></td>

                </tr>
            </tbody>
        </table>
    
    </div>
        
    </div>

    {% endblock %}

    {% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                friends: [],
                friendRequests: [],
            }
        },
        async created() {
            let response = await fetch("{% url 'friends api' %}");
            if (response.ok) {
                let data = await response.json()
                this.friends=data.friends;
            }
            else {
                alert("Failed to load friends data");
            }

            let response2 = await fetch("{% url 'friend request api' %}");
            if (response2.ok) {
                let data = await response2.json()
                this.friendRequests=data.friendRequests;
            }
            else {
                alert("Failed to load friends requets data");
            }
        },
        methods: {

            setID(index){
                this.id = index
                console.log(this.id)
                
            },
            async delFriend(reqID){
                obj={ID:reqID};
                let response = await fetch("{% url 'del req'%}",{method: "DELETE",body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    alert('friend req deletd')
                }
                else{
                    alert("Failed to delted friend req");
                }
                this.updatetables();
            },

            async addFriend(otherUserID){
                
                obj={ID:otherUserID};
                let response = await fetch("{% url 'accept friend request'%}",{method: "POST",body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    alert('friend added')
                }
                else{
                    alert("Failed to add friend");
                }
                this.updatetables();

            },

            async updatetables(){
                let response = await fetch("{% url 'friends api' %}");
            if (response.ok) {
                let data = await response.json()
                this.friends=data.friends;
            }
            else {
                alert("Failed to load friends data");
            }

            let response2 = await fetch("{% url 'friend request api' %}");
            if (response2.ok) {
                let data = await response2.json()
                this.friendRequests=data.friendRequests;
            }
            else {
                alert("Failed to load friends requets data");
            }
            }
        }
    })
    
    myApp.mount('#app')
</script>
{% endblock %}