{% extends 'hobbyapp/base.html' %}

{% block content %}
{% csrf_token %}
    <div id="app">
        <h1>Simliar Hobby Users</h1>
        <a href="{% url 'index'  %}">back Home</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Friend</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(otherUser, index) in matches">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>
                            [[ otherUser.name ]]          
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Hobbies</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(otherUser, index) in matches">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>[[ otherUser.name ]]</td>
                    <td>[[ otherUser.hobbies]]</td>
                    <td><button @click="addFriend(otherUser)">Add Friend</button></td>
                    <td><button @click="delFriend(otherUser)">Delete Friend</button></td>
                </tr>
            </tbody>
        </table>
    
    </div>
        
    </div>

    {% endblock %}

    {% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                matches: [],
                users: [],
                id: null
            }
        },
        async created() {
            let response = await fetch("{% url 'hobbymatch api' %}");
            if (response.ok) {
                let data = await response.json()
                this.matches=data.matches;
            }
            else {
                alert("Failed to load matching data");
            }
        },
        methods: {

            setID(index){
                this.id = index
                console.log(this.id)
                
            },


            async addFriend(otherUser){
                var userID = otherUser.id
                console.log(otherUser.id)
                obj={uID:userID};
                let response = await fetch("{% url 'send friend request'%}",{method: "POST",body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    let data = await response.json();
                    var found = false;
                }
                else{
                    alert("Failed to add friend");
                }

            },
        }
    })
    
    myApp.mount('#app')
</script>
{% endblock %}