{% extends 'hobbyapp/base.html' %}

{% block content %}
{% csrf_token %}
    <div id="app">
        <div>
            <h1>PROFILE PAGE</h1>
            <a href="{% url 'index'  %}">back Home</a>
        </div>
        <div>
            <h2>Profile pic</h2>
            <img v-bind:src="user.image"  style="width:100px;height:100px;">
            <label for="pic">ENTER NEW PICTURE PATH:</label><br>
            <input type="text" id="pic" name="pic"><br>
            <button type="button" v-on:click="changePic">Save</button>
        </div>
        <div>
            <h2>City:</h2>
            [[user.city]]
            <form>
                <label for="city">CHANGE CITY:</label><br>
                <input type="text" id="city" name="city"><br>
              </form>
              <button type="button" v-on:click="changeCity">Save</button>
        </div>
        <div>
            <h2>Email Adress:</h2>
            [[user.email]]
            <form>
                <label for="email">CHANGE EMAIL:</label><br>
                <input type="text" id="email" name="email"><br>
              </form>
              <button type="button" v-on:click="changeEmail">Save</button>
        </div>
        <div>
            <h2>Date of Birth:</h2>
            [[user.dob]]
            <form>
                <label for="dob">CHANGE D.O.B:</label><br>
                <input type="date" id="dob" name="dob"><br>
              </form>
              <button type="button" v-on:click="changedob">Save</button>
        </div>
        <div>
            <h2>Hobbies:</h2>
            [[user.hobbies]]
            <p>CHANGE HOBBIES:</p>
            <select id="hobbyDrop" name="hobbyDrop" id="hobbyDrop" multiple>
                <option v-for="(hobby) in allHobbies" v-bind:value="hobby.id" v-bind:myval="hobby.name">[[ hobby.name ]]</option>
            </select>
            <button type="button" v-on:click="changeHobbies">Save</button>
            <label for="newHobby">Add new Hobby:</label><br>
            <input type="text" id="newHobby" name="newHobby"><br>
            <button type="button" v-on:click="addHobby">Add</button>
        </div>
        
    </div>
{% endblock %}

{% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                user: null,
                allHobbies: [],
            }
        },
        async created() {
            let response = await fetch("{% url 'user api' %}");
            if (response.ok) {
                let data = await response.json();
                this.user = data.user;
            }
            else {
                alert("Failed to load user data");
            }

            let response2 = await fetch("{% url 'hobbies api' %}");
            if (response2.ok) {
                let data = await response2.json();
                this.allHobbies = data.allHobbies;
            }
            else {
                alert("Failed to load list of hobbies");
            }
        },
        methods: {
            async changeEmail(){
                var email = document.getElementById('email').value;
                obj = {email:email};
                let response = await fetch("{% url 'user email api'%}",{method:"PUT", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    this.user.email=email
                }
                else{
                    alert("Failed to chnage email");
                }
            },
            async changedob(){
                var dob = document.getElementById('dob').value;
                obj = {dob:dob};
                let response = await fetch("{% url 'user dob api'%}",{method:"PUT", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    this.user.dob=dob
                }
                else{
                    alert("Failed to chnage city");
                }
            },
            async changeCity(){
                var city = document.getElementById('city').value;
                obj = {city:city};
                let response = await fetch("{% url 'user city api'%}",{method:"PUT", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    this.user.city=city
                }
                else{
                    alert("Failed to chnage city");
                }
            },
            
            loadFile: function(event) {
                var image = document.getElementById('output');
                src = URL.createObjectURL(event.target.files[0]);
                console.log(src);
            },

            async changePic(){
                src = document.getElementById('pic').value;
                this.user.image=src;
                console.log(src);
            },

            async changeHobbies(){
                selected = []
                frontendSelected = []
                for (var option of document.getElementById('hobbyDrop').options)
                    {  
                        if (option.selected) {
                            selected.push(option.value);
                            frontendSelected.push(option.innerHTML);
                        }
                    }
                obj = {hobbies:selected};
                let response = await fetch("{% url 'user hobbies api'%}",{method:"PUT", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    
                    this.user.hobbies=frontendSelected;
                }
                else{
                    alert("Failed to chnage hobbies");
                }

            },

            async addHobby(){
                var hobbyName = document.getElementById('newHobby').value;
                obj={name:hobbyName};
                let response = await fetch("{% url 'user hobbies api'%}",{method:"POST", body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    let data = await response.json();
                    this.allHobbies=data.allHobbies;
                }
                else{
                    alert("Failed to add hobbies");
                }

            }


        }
    })
    
    myApp.mount('#app')
</script>
{% endblock %}