{% extends 'hobbyapp/base.html' %}

{% block content %}
{% csrf_token %}
    <div id="app">
        <h1>Simliar Hobby Users</h1>
        
        
        <div class="px-2">
            <label for="city">Filter City:</label><br>
            <input class="form-control" type="text" id="city" name="city"><br>
            <p>Filter age:</p>
            <input type="radio" id="age1" name="age" value="20">
            <label for="age1">0 - 20</label><br>
            <input type="radio" id="age2" name="age" value="30">
            <label for="age2">20 - 30</label><br>  
            <input type="radio" id="age3" name="age" value="40">
            <label for="age3">30 - 40</label><br>
            <input type="radio" id="age4" name="age" value="100">
            <label for="age4">40+</label><br><br>
            <button class="btn btn-success" type="button" v-on:click="filter">Apply Filters</button>
        </div>
        <div class="px-2">
            <button class="btn btn-danger" type="button" v-on:click="clear">Clear Filters</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of matching hobbies</th>
                    <th scope="col">Matching hobbies</th>
                    <th scope="col">Send Friend Request</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(otherUser, index) in matches">
                    <th scope="row">
                        [[ index ]]
                    </th>
                    <td>
                            [[ otherUser.name ]]          
                    </td>
                    <td>[[ otherUser.numOfMatches]]</td>
                    <td>[[ otherUser.hobbies]]</td>
                    <td><button class="btn btn-primary" @click="addFriend(otherUser)">Add Friend</button></td>
                </tr>
            </tbody>
        </table>
    
    </div>
        
    </div>
{% endblock %}

{% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                matches: [],
                users: [],
                id: null
            }
        },
        async created() {
            let response = await fetch("{% url 'hobbymatch api' %}");
            if (response.ok) {
                let data = await response.json()
                this.matches=data.matches;
            }
            else {
                alert("Failed to load matching data");
            }
        },
        methods: {
            async filter(){

                var city = document.getElementById('city').value;
                if(city==""){
                    city = "none";
                }

                if (document.getElementById('age1').checked) {
                    age = document.getElementById('age1').value;
                    lower = 0;
                }
                else if (document.getElementById('age2').checked) {
                    age = document.getElementById('age2').value;
                    lower = 20;
                }
                else if (document.getElementById('age3').checked) {
                    age = document.getElementById('age3').value;
                    lower = 30;
                }
                else if (document.getElementById('age4').checked) {
                    age = document.getElementById('age4').value;
                    lower = 40;
                }
                else{
                    age = -1;
                    lower =-1;
                }

                let response1 = await fetch("{% url 'hobbymatch api' %}");
                if (response1.ok) {
                    let data = await response1.json()
                    this.matches=data.matches;
                }
                else {
                    alert("Failed to load matching data");
                }
                

                obj={city:city, upper:age, lower:lower};
                let response = await fetch("{% url 'filter'%}",{method: "POST",body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    let data = await response.json();
                    var found = false;
                    this.matches.forEach(element1 => {
                        var found = false;
                        data.matches.forEach(element => {
                            if(element1.name==element.name){
                                found = true;
                            }
                        });
                        if(found==false){
                            this.matches = this.matches.filter(c => c.name != element1.name);
                        }
                    });
                }
                else{
                    alert("Failed to apply filters");
                }
                
            },

            async clear(){
                document.getElementById('age1').checked = false;
                document.getElementById('age2').checked = false;
                document.getElementById('age3').checked = false;
                document.getElementById('age4').checked = false;
                document.getElementById('city').value="";
                this.filter();
            },

            setID(index){
                this.id = index
                console.log(this.id)
                
            },


            async addFriend(otherUser){
                var userID = otherUser.id
                console.log(otherUser.id)
                obj={uID:userID};
                let response = await fetch("{% url 'send friend request'%}",{method: "POST",body: JSON.stringify(obj),
                headers: {
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                        }});
                if (response.ok) {
                    alert('sent request')
                }
                else{
                    alert("Failed to send request");
                }

            },
        }
    })
    
    myApp.mount('#app')
</script>
{% endblock %}